In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
# import dependencies
import pandas as pd
import numpy as np

In [3]:
# Read csv
combo_user = pd.read_csv('FINALCOMBOUSER1.csv')

# Convert csv to data frame
combo_user = pd.DataFrame(combo_user)

combo_user.head()

,user_id,latitude,longitude,smoker,drink_level,dress_perference,ambience,transport,marital_status,hijos,...,activity,color,weight,budget,height,placeid,rating,food_rating,service_rating,rcuisine
0,U1001,22.139997,-100.978803,false,abstemious,informal,family,on foot,single,independent,...,student,black,69,medium,1.77,135051,1,1,2,American
1,U1001,22.139997,-100.978803,false,abstemious,informal,family,on foot,single,independent,...,student,black,69,medium,1.77,135025,2,2,2,American
2,U1001,22.139997,-100.978803,false,abstemious,informal,family,on foot,single,independent,...,student,black,69,medium,1.77,135033,1,1,1,American
3,U1001,22.139997,-100.978803,false,abstemious,informal,family,on foot,single,independent,...,student,black,69,medium,1.77,135045,1,1,1,American
4,U1001,22.139997,-100.978803,false,abstemious,informal,family,on foot,single,independent,...,student,black,69,medium,1.77,135039,1,1,1,American

In [4]:
combo_user.columns

Index(['user_id', 'latitude', 'longitude', 'smoker', 'drink_level',
       'dress_perference', 'ambience', 'transport', 'marital_status', 'hijos',
       'birth_year', 'interest', 'personality', 'religion', 'activity',
       'color', 'weight', 'budget', 'height', 'placeid', 'rating',
       'food_rating', 'service_rating', 'rcuisine'],
      dtype='object')

In [5]:
combo_user = combo_user.drop(columns={'color','weight','height','religion','interest','personality' })

In [6]:
combo_user.head()

,user_id,latitude,longitude,smoker,drink_level,dress_perference,ambience,transport,marital_status,hijos,birth_year,activity,budget,placeid,rating,food_rating,service_rating,rcuisine
0,U1001,22.139997,-100.978803,false,abstemious,informal,family,on foot,single,independent,1989,student,medium,135051,1,1,2,American
1,U1001,22.139997,-100.978803,false,abstemious,informal,family,on foot,single,independent,1989,student,medium,135025,2,2,2,American
2,U1001,22.139997,-100.978803,false,abstemious,informal,family,on foot,single,independent,1989,student,medium,135033,1,1,1,American
3,U1001,22.139997,-100.978803,false,abstemious,informal,family,on foot,single,independent,1989,student,medium,135045,1,1,1,American
4,U1001,22.139997,-100.978803,false,abstemious,informal,family,on foot,single,independent,1989,student,medium,135039,1,1,1,American

In [7]:
combo_user.columns

Index(['user_id', 'latitude', 'longitude', 'smoker', 'drink_level',
       'dress_perference', 'ambience', 'transport', 'marital_status', 'hijos',
       'birth_year', 'activity', 'budget', 'placeid', 'rating', 'food_rating',
       'service_rating', 'rcuisine'],
      dtype='object')

In [8]:
combo_user = combo_user.rename(columns={'latitude':'Latitude',
                                        'longitude':'Longitude',
                                        'smoker':'Smoker',
                                        'drink_level':'Alcohol Consumption',
                                       'dress_perference':'Dress Code',
                                       'transport':'Transport',
                                       'marital_status':'Marital Status',
                                       'birth_year':'Birth Year',
                                       'activity':'Occupation',
                                       'budget':'Budget',
                                       'placeid':'Place ID',
                                       'user_id':'User ID',
                                       'rating':'Overall Rating',
                                       'food_rating':'Food Rating',
                                       'service_rating':'Service Rating',
                                       'rcuisine':'Cuisine',
                                       'ambience': 'Ambiance Preference',
                                       'hijos':'Children'})

In [9]:
combo_user.columns

Index(['User ID', 'Latitude', 'Longitude', 'Smoker', 'Alcohol Consumption',
       'Dress Code', 'Ambiance Preference', 'Transport', 'Marital Status',
       'Children', 'Birth Year', 'Occupation', 'Budget', 'Place ID',
       'Overall Rating', 'Food Rating', 'Service Rating', 'Cuisine'],
      dtype='object')

In [10]:
combo_user.head()

,User ID,Latitude,Longitude,Smoker,Alcohol Consumption,Dress Code,Ambiance Preference,Transport,Marital Status,Children,Birth Year,Occupation,Budget,Place ID,Overall Rating,Food Rating,Service Rating,Cuisine
0,U1001,22.139997,-100.978803,false,abstemious,informal,family,on foot,single,independent,1989,student,medium,135051,1,1,2,American
1,U1001,22.139997,-100.978803,false,abstemious,informal,family,on foot,single,independent,1989,student,medium,135025,2,2,2,American
2,U1001,22.139997,-100.978803,false,abstemious,informal,family,on foot,single,independent,1989,student,medium,135033,1,1,1,American
3,U1001,22.139997,-100.978803,false,abstemious,informal,family,on foot,single,independent,1989,student,medium,135045,1,1,1,American
4,U1001,22.139997,-100.978803,false,abstemious,informal,family,on foot,single,independent,1989,student,medium,135039,1,1,1,American

In [11]:
combo_user.nunique()

User ID                138
Latitude               128
Longitude              126
Smoker                   3
Alcohol Consumption      3
Dress Code               5
Ambiance Preference      4
Transport                4
Marital Status           4
Children                 4
Birth Year              21
Occupation               5
Budget                   4
Place ID               130
Overall Rating           3
Food Rating              3
Service Rating           3
Cuisine                103
dtype: int64

In [12]:
combo_user = combo_user.replace('abstemious','Moderate')

In [13]:
combo_user_loc = combo_user.loc[(combo_user["User ID"] == '?')&(combo_user["Latitude"] == '?')&(combo_user["Longitude"] == '?')
                                &(combo_user["Smoker"] == '?')&(combo_user["Alcohol Consumption"] == '?')&(combo_user["Dress Code"] == '?')
                                &(combo_user["Ambiance Preference"] == '?')&(combo_user["Transport"] == '?')&(combo_user["Marital Status"] == '?')
                                &(combo_user["Children"] == '?')&(combo_user["Birth Year"] == '?')&(combo_user["Occupation"] == '?')
                                &(combo_user["Budget"] == '?')&(combo_user["Place ID"] == '?')&(combo_user["Overall Rating"] == '?')
                                &(combo_user["Food Rating"] == '?')&(combo_user["Service Rating"] == '?')&(combo_user["Cuisine"] == '?')]
combo_user_loc

Empty DataFrame
Columns: [User ID, Latitude, Longitude, Smoker, Alcohol Consumption, Dress Code, Ambiance Preference, Transport, Marital Status, Children, Birth Year, Occupation, Budget, Place ID, Overall Rating, Food Rating, Service Rating, Cuisine]
Index: []

In [26]:
combo_user = combo_user.loc[(combo_user["User ID"]!= '?')&(combo_user["Latitude"] != '?')&(combo_user["Longitude"] != '?')
                                &(combo_user["Smoker"] != '?')&(combo_user["Alcohol Consumption"] != '?')&(combo_user["Dress Code"] != '?')
                                &(combo_user["Ambiance Preference"] != '?')&(combo_user["Transport"] != '?')&(combo_user["Marital Status"] != '?')
                                &(combo_user["Children"] != '?')&(combo_user["Birth Year"] != '?')&(combo_user["Occupation"] != '?')
                                &(combo_user["Budget"] != '?')&(combo_user["Place ID"] != '?')&(combo_user["Overall Rating"] != '?')
                                &(combo_user["Food Rating"] != '?')&(combo_user["Service Rating"] != '?')&(combo_user["Cuisine"] != '?')]
combo_user

,User ID,Latitude,Longitude,Smoker,Alcohol Consumption,Dress Code,Ambiance Preference,Transport,Marital Status,Children,Birth Year,Occupation,Budget,Place ID,Overall Rating,Food Rating,Service Rating,Cuisine
0,U1001,22.139997,-100.978803,false,Moderate,informal,family,on foot,single,independent,1989,student,medium,135051,1,1,2,American
1,U1001,22.139997,-100.978803,false,Moderate,informal,family,on foot,single,independent,1989,student,medium,135025,2,2,2,American
2,U1001,22.139997,-100.978803,false,Moderate,informal,family,on foot,single,independent,1989,student,medium,135033,1,1,1,American
3,U1001,22.139997,-100.978803,false,Moderate,informal,family,on foot,single,independent,1989,student,medium,135045,1,1,1,American
4,U1001,22.139997,-100.978803,false,Moderate,informal,family,on foot,single,independent,1989,student,medium,135039,1,1,1,American
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3414,U1137,22.144803,-100.944623,false,social drinker,formal,family,public,single,independent,1989,student,low,135085,2,1,2,Mexican
3415,U1137,22.144803,-100.944623,false,social drinker,formal,family,public,single,independent,1989,student,low,132951,2,2,2,Mexican
3416,U1138,22.152884,-100.939663,false,social drinker,formal,friends,public,single,independent,1991,student,medium,132925,1,2,1,Pizzeria
3417,U1138,22.152884,-100.939663,false,social drinker,formal,friends,public,single,independent,1991,student,medium,132922,2,2,2,Pizzeria
3418,U1138,22.152884,-100.939663,false,social drinker,formal,friends,public,single,independent,1991,student,medium,132921,2,2,1,Pizzeria

In [27]:
len(combo_user)

3244

In [28]:
combo_user.Occupation.unique()

array(['student', 'professional', 'unemployed', 'working-class'],
      dtype=object)

In [29]:
for x in combo_user.columns:
    print(x,combo_user[combo_user[x] == '?'].count() )

User ID User ID                0
Latitude               0
Longitude              0
Smoker                 0
Alcohol Consumption    0
Dress Code             0
Ambiance Preference    0
Transport              0
Marital Status         0
Children               0
Birth Year             0
Occupation             0
Budget                 0
Place ID               0
Overall Rating         0
Food Rating            0
Service Rating         0
Cuisine                0
dtype: int64
Latitude User ID                0
Latitude               0
Longitude              0
Smoker                 0
Alcohol Consumption    0
Dress Code             0
Ambiance Preference    0
Transport              0
Marital Status         0
Children               0
Birth Year             0
Occupation             0
Budget                 0
Place ID               0
Overall Rating         0
Food Rating            0
Service Rating         0
Cuisine                0
dtype: int64
Longitude User ID                0
Latitude               0
Longitude              0
Smoker                 0
Alcohol Consumption    0
Dress Code             0
Ambiance Preference    0
Transport              0
Marital Status         0
Children               0
Birth Year             0
Occupation             0
Budget                 0
Place ID               0
Overall Rating         0
Food Rating            0
Service Rating         0
Cuisine                0
dtype: int64
Smoker User ID                0
Latitude               0
Longitude              0
Smoker                 0
Alcohol Consumption    0
Dress Code             0
Ambiance Preference    0
Transport              0
Marital Status         0
Children               0
Birth Year             0
Occupation             0
Budget                 0
Place ID               0
Overall Rating         0
Food Rating            0
Service Rating         0
Cuisine                0
dtype: int64
Alcohol Consumption User ID                0
Latitude               0
Longitude              0
Smoker                 0
Alcohol Consumption    0
Dress Code             0
Ambiance Preference    0
Transport              0
Marital Status         0
Children               0
Birth Year             0
Occupation             0
Budget                 0
Place ID               0
Overall Rating         0
Food Rating            0
Service Rating         0
Cuisine                0
dtype: int64
Dress Code User ID                0
Latitude               0
Longitude              0
Smoker                 0
Alcohol Consumption    0
Dress Code             0
Ambiance Preference    0
Transport              0
Marital Status         0
Children               0
Birth Year             0
Occupation             0
Budget                 0
Place ID               0
Overall Rating         0
Food Rating            0
Service Rating         0
Cuisine                0
dtype: int64
Ambiance Preference User ID                0
Latitude               0
Longitude              0
Smoker                 0
Alcohol Consumption    0
Dress Code             0
Ambiance Preference    0
Transport              0
Marital Status         0
Children               0
Birth Year             0
Occupation             0
Budget                 0
Place ID               0
Overall Rating         0
Food Rating            0
Service Rating         0
Cuisine                0
dtype: int64
Transport User ID                0
Latitude               0
Longitude              0
Smoker                 0
Alcohol Consumption    0
Dress Code             0
Ambiance Preference    0
Transport              0
Marital Status         0
Children               0
Birth Year             0
Occupation             0
Budget                 0
Place ID               0
Overall Rating         0
Food Rating            0
Service Rating         0
Cuisine                0
dtype: int64
Marital Status User ID                0
Latitude               0
Longitude              0
Smoker                 0
Alcohol Consumption    0
Dress Code             0
Ambiance Preference    0
Transport              0
Marital Status         0
Children               0
Birth Year             0
Occupation             0
Budget                 0
Place ID               0
Overall Rating         0
Food Rating            0
Service Rating         0
Cuisine                0
dtype: int64
Children User ID                0
Latitude               0
Longitude              0
Smoker                 0
Alcohol Consumption    0
Dress Code             0
Ambiance Preference    0
Transport              0
Marital Status         0
Children               0
Birth Year             0
Occupation             0
Budget                 0
Place ID               0
Overall Rating         0
Food Rating            0
Service Rating         0
Cuisine                0
dtype: int64
Birth Year User ID                0
Latitude               0
Longitude              0
Smoker                 0
Alcohol Consumption    0
Dress Code             0
Ambiance Preference    0
Transport              0
Marital Status         0
Children               0
Birth Year             0
Occupation             0
Budget                 0
Place ID               0
Overall Rating         0
Food Rating            0
Service Rating         0
Cuisine                0
dtype: int64
Occupation User ID                0
Latitude               0
Longitude              0
Smoker                 0
Alcohol Consumption    0
Dress Code             0
Ambiance Preference    0
Transport              0
Marital Status         0
Children               0
Birth Year             0
Occupation             0
Budget                 0
Place ID               0
Overall Rating         0
Food Rating            0
Service Rating         0
Cuisine                0
dtype: int64
Budget User ID                0
Latitude               0
Longitude              0
Smoker                 0
Alcohol Consumption    0
Dress Code             0
Ambiance Preference    0
Transport              0
Marital Status         0
Children               0
Birth Year             0
Occupation             0
Budget                 0
Place ID               0
Overall Rating         0
Food Rating            0
Service Rating         0
Cuisine                0
dtype: int64
Place ID User ID                0
Latitude               0
Longitude              0
Smoker                 0
Alcohol Consumption    0
Dress Code             0
Ambiance Preference    0
Transport              0
Marital Status         0
Children               0
Birth Year             0
Occupation             0
Budget                 0
Place ID               0
Overall Rating         0
Food Rating            0
Service Rating         0
Cuisine                0
dtype: int64
Overall Rating User ID                0
Latitude               0
Longitude              0
Smoker                 0
Alcohol Consumption    0
Dress Code             0
Ambiance Preference    0
Transport              0
Marital Status         0
Children               0
Birth Year             0
Occupation             0
Budget                 0
Place ID               0
Overall Rating         0
Food Rating            0
Service Rating         0
Cuisine                0
dtype: int64
Food Rating User ID                0
Latitude               0
Longitude              0
Smoker                 0
Alcohol Consumption    0
Dress Code             0
Ambiance Preference    0
Transport              0
Marital Status         0
Children               0
Birth Year             0
Occupation             0
Budget                 0
Place ID               0
Overall Rating         0
Food Rating            0
Service Rating         0
Cuisine                0
dtype: int64
Service Rating User ID                0
Latitude               0
Longitude              0
Smoker                 0
Alcohol Consumption    0
Dress Code             0
Ambiance Preference    0
Transport              0
Marital Status         0
Children               0
Birth Year             0
Occupation             0
Budget                 0
Place ID               0
Overall Rating         0
Food Rating            0
Service Rating         0
Cuisine                0
dtype: int64
Cuisine User ID                0
Latitude               0
Longitude              0
Smoker                 0
Alcohol Consumption    0
Dress Code             0
Ambiance Preference    0
Transport              0
Marital Status         0
Children               0
Birth Year             0
Occupation             0
Budget                 0
Place ID               0
Overall Rating         0
Food Rating            0
Service Rating         0
Cuisine                0
dtype: int64

In [19]:
combo_user.to_csv('./Resources/combo_user_cleaneds_v2.csv', index=False)