In [1]:
# Import our dependencies

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.datasets import make_classification
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression

In [2]:
# replace with load from postgres
data_df = pd.read_csv('FINALCOMBOUSER1.csv')
data_df

,user_id,latitude,longitude,smoker,drink_level,dress_perference,ambience,transport,marital_status,hijos,...,activity,color,weight,budget,height,placeid,rating,food_rating,service_rating,rcuisine
0,U1001,22.139997,-100.978803,False,abstemious,informal,family,on foot,single,independent,...,student,black,69,medium,1.77,135051,1,1,2,American
1,U1001,22.139997,-100.978803,False,abstemious,informal,family,on foot,single,independent,...,student,black,69,medium,1.77,135025,2,2,2,American
2,U1001,22.139997,-100.978803,False,abstemious,informal,family,on foot,single,independent,...,student,black,69,medium,1.77,135033,1,1,1,American
3,U1001,22.139997,-100.978803,False,abstemious,informal,family,on foot,single,independent,...,student,black,69,medium,1.77,135045,1,1,1,American
4,U1001,22.139997,-100.978803,False,abstemious,informal,family,on foot,single,independent,...,student,black,69,medium,1.77,135039,1,1,1,American
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3239,U1137,22.144803,-100.944623,False,social drinker,formal,family,public,single,independent,...,student,blue,72,low,1.78,135085,2,1,2,Mexican
3240,U1137,22.144803,-100.944623,False,social drinker,formal,family,public,single,independent,...,student,blue,72,low,1.78,132951,2,2,2,Mexican
3241,U1138,22.152884,-100.939663,False,social drinker,formal,friends,public,single,independent,...,student,blue,54,medium,1.55,132925,1,2,1,Pizzeria
3242,U1138,22.152884,-100.939663,False,social drinker,formal,friends,public,single,independent,...,student,blue,54,medium,1.55,132922,2,2,2,Pizzeria
3243,U1138,22.152884,-100.939663,False,social drinker,formal,friends,public,single,independent,...,student,blue,54,medium,1.55,132921,2,2,1,Pizzeria

In [3]:
new_data_df = data_df.drop(["user_id", "latitude", "longitude", "placeid", "food_rating", "service_rating", "color", "weight", "height"], axis='columns')
new_data_df.head()

,smoker,drink_level,dress_perference,ambience,transport,marital_status,hijos,birth_year,interest,personality,religion,activity,budget,rating,rcuisine
0,False,abstemious,informal,family,on foot,single,independent,1989,variety,thrifty-protector,none,student,medium,1,American
1,False,abstemious,informal,family,on foot,single,independent,1989,variety,thrifty-protector,none,student,medium,2,American
2,False,abstemious,informal,family,on foot,single,independent,1989,variety,thrifty-protector,none,student,medium,1,American
3,False,abstemious,informal,family,on foot,single,independent,1989,variety,thrifty-protector,none,student,medium,1,American
4,False,abstemious,informal,family,on foot,single,independent,1989,variety,thrifty-protector,none,student,medium,1,American

In [4]:
n = new_data_df.nunique(axis=0)
print(n)

smoker                2
drink_level           3
dress_perference      4
ambience              3
transport             3
marital_status        3
hijos                 3
birth_year           20
interest              5
personality           4
religion              5
activity              4
budget                3
rating                3
rcuisine            103
dtype: int64

In [5]:
cuisine = new_data_df['rcuisine']
cuisine.value_counts()

Mexican             728
American            102
Cafeteria            85
Cafe-Coffee_Shop     79
Family               69
                   ...
Persian              14
Ethiopian            14
Romanian             14
Cambodian            14
Southern             14
Name: rcuisine, Length: 103, dtype: int64

In [6]:
clean_data_df = new_data_df.drop(["rcuisine"], axis='columns')

In [7]:
cleaned_data_df = pd.get_dummies(clean_data_df)
cleaned_data_df.head()

,smoker,birth_year,rating,drink_level_abstemious,drink_level_casual drinker,drink_level_social drinker,dress_perference_elegant,dress_perference_formal,dress_perference_informal,dress_perference_no preference,...,religion_Jewish,religion_Mormon,religion_none,activity_professional,activity_student,activity_unemployed,activity_working-class,budget_high,budget_low,budget_medium
0,False,1989,1,1,0,0,0,0,1,0,...,0,0,1,0,1,0,0,0,0,1
1,False,1989,2,1,0,0,0,0,1,0,...,0,0,1,0,1,0,0,0,0,1
2,False,1989,1,1,0,0,0,0,1,0,...,0,0,1,0,1,0,0,0,0,1
3,False,1989,1,1,0,0,0,0,1,0,...,0,0,1,0,1,0,0,0,0,1
4,False,1989,1,1,0,0,0,0,1,0,...,0,0,1,0,1,0,0,0,0,1

In [8]:
print(list(cleaned_data_df.columns))

['smoker', 'birth_year', 'rating', 'drink_level_abstemious', 'drink_level_casual drinker', 'drink_level_social drinker', 'dress_perference_elegant', 'dress_perference_formal', 'dress_perference_informal', 'dress_perference_no preference', 'ambience_family', 'ambience_friends', 'ambience_solitary', 'transport_car owner', 'transport_on foot', 'transport_public', 'marital_status_married', 'marital_status_single', 'marital_status_widow', 'hijos_dependent', 'hijos_independent', 'hijos_kids', 'interest_eco-friendly', 'interest_none', 'interest_retro', 'interest_technology', 'interest_variety', 'personality_conformist', 'personality_hard-worker', 'personality_hunter-ostentatious', 'personality_thrifty-protector', 'religion_Catholic', 'religion_Christian', 'religion_Jewish', 'religion_Mormon', 'religion_none', 'activity_professional', 'activity_student', 'activity_unemployed', 'activity_working-class', 'budget_high', 'budget_low', 'budget_medium']

In [9]:
n = cleaned_data_df.nunique(axis=0)
print(n)

smoker                              2
birth_year                         20
rating                              3
drink_level_abstemious              2
drink_level_casual drinker          2
drink_level_social drinker          2
dress_perference_elegant            2
dress_perference_formal             2
dress_perference_informal           2
dress_perference_no preference      2
ambience_family                     2
ambience_friends                    2
ambience_solitary                   2
transport_car owner                 2
transport_on foot                   2
transport_public                    2
marital_status_married              2
marital_status_single               2
marital_status_widow                2
hijos_dependent                     2
hijos_independent                   2
hijos_kids                          2
interest_eco-friendly               2
interest_none                       2
interest_retro                      2
interest_technology                 2
interest_variety                    2
personality_conformist              2
personality_hard-worker             2
personality_hunter-ostentatious     2
personality_thrifty-protector       2
religion_Catholic                   2
religion_Christian                  2
religion_Jewish                     2
religion_Mormon                     2
religion_none                       2
activity_professional               2
activity_student                    2
activity_unemployed                 2
activity_working-class              2
budget_high                         2
budget_low                          2
budget_medium                       2
dtype: int64

In [10]:
y = cleaned_data_df["rating"].values
X = cleaned_data_df.drop("rating", axis=1)

In [11]:
y

array([1, 2, 1, ..., 1, 2, 2], dtype=int64)

In [12]:
X

,smoker,birth_year,drink_level_abstemious,drink_level_casual drinker,drink_level_social drinker,dress_perference_elegant,dress_perference_formal,dress_perference_informal,dress_perference_no preference,ambience_family,...,religion_Jewish,religion_Mormon,religion_none,activity_professional,activity_student,activity_unemployed,activity_working-class,budget_high,budget_low,budget_medium
0,False,1989,1,0,0,0,0,1,0,1,...,0,0,1,0,1,0,0,0,0,1
1,False,1989,1,0,0,0,0,1,0,1,...,0,0,1,0,1,0,0,0,0,1
2,False,1989,1,0,0,0,0,1,0,1,...,0,0,1,0,1,0,0,0,0,1
3,False,1989,1,0,0,0,0,1,0,1,...,0,0,1,0,1,0,0,0,0,1
4,False,1989,1,0,0,0,0,1,0,1,...,0,0,1,0,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3239,False,1989,0,0,1,0,1,0,0,1,...,0,0,0,0,1,0,0,0,1,0
3240,False,1989,0,0,1,0,1,0,0,1,...,0,0,0,0,1,0,0,0,1,0
3241,False,1991,0,0,1,0,1,0,0,0,...,0,0,1,0,1,0,0,0,0,1
3242,False,1991,0,0,1,0,1,0,0,0,...,0,0,1,0,1,0,0,0,0,1
3243,False,1991,0,0,1,0,1,0,0,0,...,0,0,1,0,1,0,0,0,0,1

In [13]:
# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [14]:
# scale data
scaler = StandardScaler().fit(X_train)
X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [15]:
n_estimators = [20,50,100,200,300,500,700,900,1000] # number of trees in the random forest
max_features = ['auto', 'sqrt'] # number of features in consideration at every split
random_state = [1,2,4,8,10]


random_grid = {'n_estimators': n_estimators,
                'max_features': max_features,
                'random_state' : random_state}

In [16]:
## Importing Random Forest Classifier from the sklearn.ensemble
from sklearn.ensemble import RandomForestRegressor
rf = RandomForestRegressor()

In [17]:
from sklearn.model_selection import RandomizedSearchCV
rf_random = RandomizedSearchCV(estimator = rf,param_distributions = random_grid,
               n_iter = 90)

In [18]:
# this is where we are testing the individual hyperparameters
rf_random.fit(X_train, y_train)

RandomizedSearchCV(estimator=RandomForestRegressor(), n_iter=90,
                   param_distributions={'max_features': ['auto', 'sqrt'],
                                        'n_estimators': [20, 50, 100, 200, 300,
                                                         500, 700, 900, 1000],
                                        'random_state': [1, 2, 4, 8, 10]})

In [19]:
print ('Random grid: ', random_grid, '\n')
# print the best parameters
print ('Best Parameters: ', rf_random.best_params_, ' \n')

Random grid:  {'n_estimators': [20, 50, 100, 200, 300, 500, 700, 900, 1000], 'max_features': ['auto', 'sqrt'], 'random_state': [1, 2, 4, 8, 10]}

Best Parameters:  {'random_state': 1, 'n_estimators': 20, 'max_features': 'sqrt'}

In [20]:
clf = RandomForestClassifier(random_state=4, n_estimators=20, max_features='auto').fit(X_train_scaled, y_train)
print(f'Training Score: {clf.score(X_train_scaled, y_train)}')
print(f'Testing Score: {clf.score(X_test_scaled, y_test)}')

Training Score: 0.8368269625976161
Testing Score: 0.8002466091245376